/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/query/cache-v2
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/query/cmakeFiles-v1
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/query/codemodel-v2
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/cache-v2-d26ae2d663de5020fc40.json
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/cmakeFiles-v1-3faf16518a4b5cb31ca0.json
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/codemodel-v2-1cffac21adb92e1b1792.json
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/index-2022-11-29T12-43-59-0902.json
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/target-restful-client-Debug-d677771b92c4f03aa9eb.json
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeCache.txt
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CompilerIdC/a.out
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/CMakeDirectoryInformation.cmake
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/CMakeOutput.log
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/Makefile.cmake
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/Makefile2
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/TargetDirectories.txt
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/cmake.check_cache
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/progress.marks
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-client.dir/DependInfo.cmake
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-client.dir/build.make
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-client.dir/cmake_clean.cmake
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-client.dir/compiler_depend.internal
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-client.dir/compiler_depend.make
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-client.dir/compiler_depend.ts
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-client.dir/depend.make
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-client.dir/flags.make
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-client.dir/link.txt
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-client.dir/main.c.o
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-client.dir/main.c.o.d
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-client.dir/mongoose.c.o
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-client.dir/mongoose.c.o.d
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-client.dir/progress.make
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/Makefile
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/cmake_install.cmake
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/restful-client
/build-restful-client-Desktop_Qt_5_14_2_GCC_64bit-Debug/restful-client.cbp
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/query/cache-v2
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/query/cmakeFiles-v1
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/query/codemodel-v2
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/cache-v2-376ed6f21baf382fa381.json
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/cmakeFiles-v1-97d3b37c8d667ed6e9ca.json
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/codemodel-v2-360f508b7c26a6a34ba2.json
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/index-2022-12-01T02-48-28-0070.json
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/target-restful-server-Debug-b967f553cfb87dd34cb8.json
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeCache.txt
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CompilerIdC/a.out
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/CMakeDirectoryInformation.cmake
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/CMakeOutput.log
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/Makefile.cmake
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/Makefile2
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/TargetDirectories.txt
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/cmake.check_cache
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/progress.marks
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/DependInfo.cmake
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/build.make
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/cJSON.c.o
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/cJSON.c.o.d
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/cmake_clean.cmake
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/compiler_depend.internal
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/compiler_depend.make
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/compiler_depend.ts
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/depend.make
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/flags.make
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/link.txt
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/main.c.o
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/main.c.o.d
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/mongoose.c.o
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/mongoose.c.o.d
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/restful-server.dir/progress.make
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/Makefile
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/cmake_install.cmake
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/config.json
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/restful-server
/build-restful-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/restful-server.cbp
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/query/cache-v2
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/query/cmakeFiles-v1
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/query/codemodel-v2
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/cache-v2-e0c2a1b2626954a9cd00.json
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/cmakeFiles-v1-a3bd987746657a0677a7.json
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/codemodel-v2-00d220b2d7bcf4b189ae.json
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/index-2022-12-01T09-40-59-0987.json
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/target-tiny-webserver-Debug-3b75bf55b5b1e62b3cc8.json
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeCache.txt
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CompilerIdC/a.out
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/CMakeDirectoryInformation.cmake
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/CMakeOutput.log
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/Makefile.cmake
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/Makefile2
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/RestfulServer.dir/DependInfo.cmake
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/RestfulServer.dir/build.make
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/RestfulServer.dir/cmake_clean.cmake
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/RestfulServer.dir/compiler_depend.make
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/RestfulServer.dir/compiler_depend.ts
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/RestfulServer.dir/depend.make
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/RestfulServer.dir/flags.make
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/RestfulServer.dir/link.txt
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/RestfulServer.dir/main.c.o
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/RestfulServer.dir/main.c.o.d
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/RestfulServer.dir/mongoose.c.o
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/RestfulServer.dir/mongoose.c.o.d
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/RestfulServer.dir/progress.make
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/TargetDirectories.txt
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/cmake.check_cache
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/progress.marks
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/DependInfo.cmake
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/build.make
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/cJSON.c.o
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/cJSON.c.o.d
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/cmake_clean.cmake
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/compiler_depend.internal
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/compiler_depend.make
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/compiler_depend.ts
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/depend.make
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/flags.make
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/link.txt
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/main.c.o
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/main.c.o.d
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/mongoose.c.o
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/mongoose.c.o.d
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/tiny-webserver.dir/progress.make
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/Makefile
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/TinyServer.cbp
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/cmake_install.cmake
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/tiny-webserver
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/tiny-webserver.cbp
/build-tiny-webserver-Desktop_Qt_5_14_2_GCC_64bit-Debug/web-root/index.html
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/query/cache-v2
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/query/cmakeFiles-v1
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/query/codemodel-v2
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/cache-v2-48b6f7e2afc1803f14ef.json
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/cmakeFiles-v1-f11dffcdc210c8e62735.json
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/codemodel-v2-8d4c14240c61f67161e7.json
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/index-2022-12-02T08-14-38-0654.json
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/.cmake/api/v1/reply/target-upgrade-server-Debug-4738578077db62d14e46.json
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeCache.txt
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/3.22.3/CompilerIdC/a.out
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/CMakeDirectoryInformation.cmake
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/CMakeOutput.log
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/Makefile.cmake
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/Makefile2
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/TargetDirectories.txt
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/cmake.check_cache
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/progress.marks
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/upgrade-server.dir/DependInfo.cmake
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/upgrade-server.dir/build.make
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/upgrade-server.dir/cmake_clean.cmake
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/upgrade-server.dir/compiler_depend.internal
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/upgrade-server.dir/compiler_depend.make
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/upgrade-server.dir/compiler_depend.ts
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/upgrade-server.dir/depend.make
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/upgrade-server.dir/flags.make
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/upgrade-server.dir/link.txt
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/upgrade-server.dir/main.c.o
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/upgrade-server.dir/main.c.o.d
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/upgrade-server.dir/mongoose.c.o
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/upgrade-server.dir/mongoose.c.o.d
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/CMakeFiles/upgrade-server.dir/progress.make
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/Makefile
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/cmake_install.cmake
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/upgrade-server
/build-upgrade-server-Desktop_Qt_5_14_2_GCC_64bit-Debug/upgrade-server.cbp
/restful-client/CMakeLists.txt.user
/restful-server/CMakeLists.txt.user
/tiny-webserver/CMakeLists.txt.user
/upgrade-server/CMakeLists.txt.user
/build-tiny-webserver-Desktop_Qt_5_12_9_MSVC2017_64bit-Debug
/log-server/*.user
